@model IEnumerable<Idea_Pending_SMART.Models.Assignment>
@{
    ViewData["Title"] = "Assignment";
}

<div class="container p-3">
    <a asp-controller="Assignment" asp-action="Upsert" class="btn btn-primary">
        <i class="bi bi-plus-circle"></i> &nbsp;Create New Assignment
    </a>

</div>


<table class="table">
    <thead>
        <tr>
            <th>
              Assigment Name
            </th>
            <th>
               Assignemt Start Date
            </th>
            <th>
                Assignment Due Date
            </th>
            <th>
              Assignment Grade 
            </th>

             <th>
            Class Id
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var DBItem in Model)
        {
                <tr>
                    <td>
                    @Html.DisplayFor(modelDBItem => DBItem.AssignmentName)
                    </td>
                    <td>
                    @Html.DisplayFor(modelDBItem => DBItem.AssignmentIssuetDate)
                    </td>
                    <td>
                    @Html.DisplayFor(modelDBItem => DBItem.AssignmentDueDate)
                    </td>
                    <td>
                    @Html.DisplayFor(modelDBItem => DBItem.AssignmentTotalMarks)
                    </td>
                <td>
                    @Html.DisplayFor(modelDBItem => DBItem.ClassID)
                </td>


                    <td>
                        <div class="w-75 btn-group" role="group">
                            <!-- asp-route-id is parameter, named id, that is passed to the action method, Upsert, with the value of DBItem.AssignmentName -->
                            <a asp-controller="Assignment" asp-action="Upsert" asp-route-id="@DBItem.AssignmentID"
                       class="btn btn-primary mx-2"> <i class="bi bi-pencil-square"></i> Edit</a>
                            <a asp-controller="Assignment" asp-action="Delete" asp-route-id="@DBItem.AssignmentID"
                       class="btn btn-danger mx-2"> <i class="bi bi-trash-fill"></i> Delete</a>
                        </div>
                    </td>
                </tr>
        }
    </tbody>
</table>