@model Idea_Pending_SMART.Areas.Student.ViewModels.StudentDetailsVM

@{
    var sponsorholder = 0;
    var personholder = 0;

}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SMART System</title>
    <link href="/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div class="row">
        <div class="col">
            <h6 class="bg-opacity-50 border-warning p-2 border-top border-bottom border-warning border-end p-2">Student Profile</h6>
            <div class="list-group">
                <div class="overflow-auto w-100 shadow-1-strong rounded mb-4 border-warning border-end p-2" style="height:400px; width:300px ">
       @foreach (var obj in Model.Student)
        {
        <h4>Name: @obj.ApplicationNameFirst @obj.ApplicationNameLast</h4>
                        <h6 class="bg-opacity-50 border-warning p-2 border-top"></h6>
        <h5>Meal Requirement: </h5>
                        <h6 class="bg-opacity-50 border-warning p-0 border-top "></h6>
            @if(@obj.MealsNeeded == false)
            {
                <h6>
                    Not Required

                </h6>
            }
            else
            {
                <h6>
                   Required
                </h6>
            }
                        <h6 class="bg-opacity-50 border-warning p-0 border-top"></h6>
            <h5>Choppa Requirment:</h5>
                        <h6 class="bg-opacity-50 border-warning p-0 border-top"></h6>
             @if (@obj.ChoppaTransportNeeded == false)
        {
            <h6>
                Not Required
            </h6>
        }
        else
        {
            <h6>
                Required
            </h6>
                        }
                        <h6 class="bg-opacity-50 border-warning p-1 border-top"></h6>
        @if(obj.SponsorID != null)
        {
        sponsorholder = (int)@obj.SponsorID;
        }
        @if(obj.PersonID != null)
        {
            personholder = (int)obj.PersonID;
        }
    }<h5>Student Sponsor:</h5>
                    <h6 class="bg-opacity-50 border-warning p-3 border-top"></h6>
    @foreach(var obj4 in Model.Sponsors)
    {
        @if (obj4.SponsorID == sponsorholder)
        {
            <h6>@obj4.CompanyName</h6>
                            <h6 class="bg-opacity-50 border-warning p-3 border-top"></h6>

        }
    }
    <h5>Student Guardian List:</h5>
    <h6 class="bg-opacity-50 border-warning p-3 border-top "></h6>
    @foreach (var obj4 in Model.Person)
    {
        @if (obj4.PersonID == personholder)
        {
                    <h6>@obj4.FirstName</h6>
                            <h6 class="bg-opacity-50 border-warning p-3 border-top"></h6>
        }

                    }                    <h6 class="bg-opacity-50 border-warning p-3 border-top"></h6>
                </div>
            </div>
        </div>
 
 <div class="col">
            <h6 class="bg-opacity-50 border-warning p-2 border-top border-bottom">Student Class List</h6>
            <div class="list-group">
                <div class="overflow-auto w-100 shadow-1-strong rounded mb-4" style="height:400px; width:300px ">
                    <h4>Class List:</h4>
                    <h6 class="bg-opacity-50 border-warning p-4 border-top"></h6>
                    @foreach (var obj2 in Model.Enrollment)
                    {

                        <h5>@obj2.Class.ClassDescription</h5>

                        <h6>@obj2.Class.ClassTime.TimeStart @obj2.Class.ClassTime.Day</h6>
                        <h6 class="bg-opacity-50  p-1 border-top"></h6>
                    }
                </div>
            </div>
        </div>
        

<div class="row">
    <div class="col">
                <h5>Student Notes</h5>
                <h6 class="bg-opacity-50 border-warning p-2 border-top"></h6>
                @foreach (var obj3 in Model.StudentNotes)
                {
                    <h5>@obj3.DateCreated</h5>
                    <h5>@obj3.Text</h5>
                    <h6 class="bg-opacity-50 border-warning p-2 border-top"></h6>
                }

    </div>
</div>

    </div>
</body>
