@model IEnumerable<Idea_Pending_SMART.Models.Semester>
@{
    ViewData["Title"] = "Semester";
}

<div class="container p-3">
    <h4>TODO:</h4>
    <p>Like, everything</p>
</div>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SemesterName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SemesterID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActiveSemester)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SemesterName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SemesterID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsActiveSemester)
                </td>
@*                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>*@
            </tr>
        }
    </tbody>
</table>
