@model IEnumerable<Idea_Pending_SMART.Models.Semester>
@{
    ViewData["Title"] = "Semester";
}

<div class="container p-3">
    <a asp-controller="Semester" asp-action="Upsert" class="btn btn-primary">
        <i class="bi bi-plus-circle"></i> &nbsp;Create New Semester
    </a>
    <h4>TODO:</h4>
    <p>Like, everything</p>
</div>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IsActiveSemester)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SemesterName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaxStudentCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.School)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SemesterID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IsActiveSemester)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SemesterName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaxStudentCount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SchoolId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SemesterID)
                </td>
                <td>
                    <div class="w-75 btn-group" role="group">
                        <!-- asp-route-id is parameter, named id, that is passed to the action method, Upsert, with the value of item.SemesterName -->
                        <a asp-controller="Semester" asp-action="Upsert" asp-route-id="@item.SemesterID"
                       class="btn btn-primary mx-2"> <i class="bi bi-pencil-square"></i> Edit</a>
                        <a asp-controller="Semester" asp-action="Delete" asp-route-id="@item.SemesterID"
                       class="btn btn-danger mx-2"> <i class="bi bi-trash-fill"></i> Delete</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
