@model Idea_Pending_SMART.Areas.Section.ViewModels.ListStudentsAdd
@{
    ViewBag.Title = "Classtime";
    var time = ViewBag.classtimes;
    var classID = ViewBag.classID;


}
<body>
@foreach(var obj in Model.Class)
{

    <h4>@obj.ClassDescription on @obj.ClassTime.Day @obj.ClassTime.TimeStart</h4>

}
<div class="row">
    <div class="col">
        <div class="list-group">
            <div class="overflow-auto w-100 shadow-1-strong rounded mb-4" style="height:200px; width:100px ">
@foreach (var obj in Model.Enrollment)
    {
         @if (obj.Student.timeAvailable == true)
        {
              <span class="badge bg-gradient text-white"
                 style="background-color:darkslategray; border-color:antiquewhite; border-width: 5px; border-style:double;
                        width:200px; height:70px">
       

              
                 <h6>Name: @obj.Student.ApplicationNameFirst @obj.Student.ApplicationNameLast</h6>
                 <a asp-controller="Section" asp-action="Add" asp-route-id="@obj.StudentID" asp-route-id="@obj.ClassID"
                         class="btn text-white text-capitalize">Add</a>
                            <a asp-controller="Student" asp-action="Info" asp-route-id="@obj.StudentID"
                           class="btn text-white text-capitalize">Details</a>

            </span>
            }

}
    @foreach (var obj in Model.Enrollment)
    {
        @if (obj.Student.timeAvailable == true)
        {
                      <span class="badge bg-gradient text-white"
                 style="background-color:darkslategray; border-color:antiquewhite; border-width: 5px; border-style:double;
                        width:200px; height:70px">



                         <h6>Name: @obj.Student.ApplicationNameFirst @obj.Student.ApplicationNameLast</h6>
                         <a asp-controller="Section" asp-action="Add" asp-route-id="@obj.StudentID" asp-route-id="@obj.ClassID"
                         class="btn text-white text-capitalize">Add</a>
                                    <a asp-controller="Student" asp-action="Info" asp-route-id="@obj.StudentID"
                           class="btn text-white text-capitalize">Details</a>

                    </span>
        }

    }
    @foreach (var obj in Model.Enrollment)
    {
        @if (obj.Student.timeAvailable == true)
        {
                      <span class="badge bg-gradient text-white"
                 style="background-color:darkslategray; border-color:antiquewhite; border-width: 5px; border-style:double;
                        width:200px; height:70px">



                         <h6>Name: @obj.Student.ApplicationNameFirst @obj.Student.ApplicationNameLast</h6>
                         <a asp-controller="Section" asp-action="Add" asp-route-id="@obj.StudentID" asp-route-id="@obj.ClassID"
                         class="btn text-white text-capitalize">Add</a>
                                    <a asp-controller="Student" asp-action="Info" asp-route-id="@obj.StudentID"
                           class="btn text-white text-capitalize">Details</a>

                    </span>
        }

    }
    @foreach (var obj in Model.Enrollment)
    {
         @if (obj.Student.timeAvailable == true)
        {
              <span class="badge bg-gradient text-white"
                 style="background-color:darkslategray; border-color:antiquewhite; border-width: 5px; border-style:double;
                        width:200px; height:70px">
       

              
                 <h6>Name: @obj.Student.ApplicationNameFirst @obj.Student.ApplicationNameLast</h6>
                 <a asp-controller="Section" asp-action="Add" asp-route-id="@obj.StudentID" asp-route-id="@obj.ClassID"
                         class="btn text-white text-capitalize">Add</a>
                            <a asp-controller="Student" asp-action="Info" asp-route-id="@obj.StudentID"
                           class="btn text-white text-capitalize">Details</a>

            </span>
            }

}
    @foreach (var obj in Model.Enrollment)
    {
        @if (obj.Student.timeAvailable == true)
        {
                      <span class="badge bg-gradient text-white"
                 style="background-color:darkslategray; border-color:antiquewhite; border-width: 5px; border-style:double;
                        width:200px; height:70px">



                         <h6>Name: @obj.Student.ApplicationNameFirst @obj.Student.ApplicationNameLast</h6>
                         <a asp-controller="Section" asp-action="Add" asp-route-id="@obj.StudentID" asp-route-id="@obj.ClassID"
                         class="btn text-white text-capitalize">Add</a>
                                    <a asp-controller="Student" asp-action="Info" asp-route-id="@obj.StudentID"
                           class="btn text-white text-capitalize">Details</a>

                    </span>
        }

    }
    @foreach (var obj in Model.Enrollment)
    {
        @if (obj.Student.timeAvailable == true)
        {
                      <span class="badge bg-gradient text-white"
                 style="background-color:darkslategray; border-color:antiquewhite; border-width: 5px; border-style:double;
                        width:200px; height:70px">



                         <h6>Name: @obj.Student.ApplicationNameFirst @obj.Student.ApplicationNameLast</h6>
                         <a asp-controller="Section" asp-action="Add" asp-route-id="@obj.StudentID" asp-route-id="@obj.ClassID"
                         class="btn text-white text-capitalize">Add</a>
                                    <a asp-controller="Student" asp-action="Info" asp-route-id="@obj.StudentID"
                           class="btn text-white text-capitalize">Details</a>

                    </span>
        }

    }
    @foreach (var obj in Model.Enrollment)
    {
         @if (obj.Student.timeAvailable == true)
        {
              <span class="badge bg-gradient text-white"
                 style="background-color:darkslategray; border-color:antiquewhite; border-width: 5px; border-style:double;
                        width:200px; height:70px">
       

              
                 <h6>Name: @obj.Student.ApplicationNameFirst @obj.Student.ApplicationNameLast</h6>
                 <a asp-controller="Section" asp-action="Add" asp-route-id="@obj.StudentID" asp-route-id="@obj.ClassID"
                         class="btn text-white text-capitalize">Add</a>
                            <a asp-controller="Student" asp-action="Info" asp-route-id="@obj.StudentID"
                           class="btn text-white text-capitalize">Details</a>

            </span>
            }

}
    @foreach (var obj in Model.Enrollment)
    {
        @if (obj.Student.timeAvailable == true)
        {
            <span class="badge bg-gradient text-white"
          style="background-color:darkslategray; border-color:antiquewhite; border-width: 5px; border-style:double;
                        width:200px; height:70px">



                <h6>Name: @obj.Student.ApplicationNameFirst @obj.Student.ApplicationNameLast</h6>
                <a asp-controller="Section" asp-action="Add" asp-route-id="@obj.StudentID" asp-route-id="@obj.ClassID"
           class="btn text-white text-capitalize">Add</a>
                <a asp-controller="Student" asp-action="Info" asp-route-id="@obj.StudentID"
           class="btn text-white text-capitalize">Details</a>

            </span>
        }

    }
    </div>

    </div>

</div>
</div>
</div>
</body>

