@model Idea_Pending_SMART.Areas.Section.ViewModels.ListStudentsAdd
@{
    ViewBag.Title = "Classtime";
    var time = ViewBag.classtimes;
    var studentIDHolder = 0;

}

<!--        //studentID not in Enrollment where Class contains classtimeID-->
<h3> classs time passed: @time</h3>
@foreach (var obj in Model.Enrollment)
{

    if (@obj.Class.ClassTimeID == time  )
    {
        <h3>display enrollments with this time</h3>
         <h3>ClassID: @obj.ClassID</h3>
        <h3>get enrollment studentsID @obj.StudentID</h3>

        studentIDHolder = obj.StudentID;
        
    }
    if(obj.Student.timeAvailable == false || (obj.Student.StudentID == obj.StudentID && obj.Class.ClassTimeID == time))
        {
            <h3>STUDENT @obj.StudentID is unable to take class</h3>
        }
        else
        {
            <h3>STUDENT @obj.StudentID is able to take class</h3>
        }
<!--@foreach(var student in Model.Student)
{
    if(student.timeAvailable == false || student.StudentID == studentIDHolder)
    {
                <h3>student @student.StudentID is unable to take class</h3>
            }
            else 
            {
            <h3>student @student.StudentID is able to take class</h3>
            }
        }  -->
}
