@model Idea_Pending_SMART.Areas.Section.ViewModels.ListStudentsAdd
@{
    ViewBag.Title = "Classtime";
    var time = ViewBag.classtimes;
    var classID = ViewBag.classID;

    var holdCID =0;
    var newSID = 0;
    var sendStudent = 0;
    var studentCount = 0;

}

    <h4>@obj.ClassDescription on @obj.ClassTime.Day @obj.ClassTime.TimeStart</h4>
    holdCID = obj.ClassID;
}
<div class="row">
    <div class="col">
        <div class="list-group">
            <div class="overflow-auto w-100 shadow-1-strong rounded mb-4" style="height:250px; width:120px ">
        <!--This orders by student ID because we need to find the students in the class and exclude them-->
                @foreach (var obj in Model.Enrollment.OrderBy(obj=>obj.StudentID))
                {
                        <!--This holds the current class ID and if the student is in the class it puts in a variable-->
                        if(obj.ClassID == holdCID)
                        {
                            newSID = obj.StudentID;
                        }
                        <!--If studentID is in the variable, it will not display a student already in the class-->
                        if(obj.StudentID != newSID)
                        {
                            @if (obj.Student.timeAvailable == true)
                            {
                                <span class="badge bg-gradient text-white"
                          style="background-color:darkslategray; border-color:antiquewhite; border-width: 5px; border-style:double;
                        width:200px; height:70">



                        <h6>Name: @obj.Student.ApplicationNameFirst @obj.Student.ApplicationNameLast</h6>
                         <a asp-controller="Section" asp-action="Add" asp-route-sid="@obj.StudentID" asp-route-cid="@holdCID"
                           class="btn text-white text-capitalize">Add</a>
                        <a  asp-area="Student" asp-controller="Student" asp-action="StudentDetails" asp-route-sid="@obj.StudentID"
                           class="btn text-white text-capitalize">Details</a>
 

                                </span>
                                studentCount++;
                            }

                        }

                     
                        
     }
                    @if(studentCount == 0)
                    {
                        <h2>There are no students available to add.</h2>
                    }

    </div>




