@model IEnumerable<Enrollment>
@{
    ViewData["Title"] = "EnrollmentID";
    ViewData["Title"] = "ClassTime";
    ViewData["Title"] = "FirstName";
}
@{
    var enrollmentCount = 0;
    var maxStudentsInClass = 0;
    var id = 0;
    var classtime = 0;

}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SMART System</title>
    <link href="/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
</head>

<body>
    <div class="row">
        <div class="col">
            <h6 class="bg-opacity-50 border-warning p-2 border-top border-bottom">Students in Class (Click for Details)</h6>
            <div class="list-group">
                <div class="overflow-auto w-100 shadow-1-strong rounded mb-4" style="height:400px; width:300px ">
        @foreach (var obj in Model.OrderBy(obj=>obj.Student.ApplicationNameFirst))
            {
                //lists students in classrooms
                    <a asp-area="Student" asp-controller="Student" asp-action="StudentDetails" asp-route-sid="@obj.StudentID" 
                    class="list-group-item bg-gradient bg-opacity-50 bg-warning list-group-item-action px-3 border-dark">
                         <td>
                    <h6> <u> Name: @obj.Student.ApplicationNameFirst @obj.Student.ApplicationNameLast</u>
                        <h7> Grade: (@obj.Student.CurrentGrade) </h7>
                                </h6>




                            </td>
                    </a>
                    maxStudentsInClass = @obj.Class.Studentcount;

                    enrollmentCount++;
                    id = obj.ClassID;
                    classtime = obj.Class.ClassTimeID;
                }
            </div>
           </div>
            </div>
        <div class="col">
            <h6 class="bg-opacity-50 border-warning p-2 border-top border-bottom"> Enrolled Count: @enrollmentCount/@maxStudentsInClass</h6>
            <div class="list-group" style="align-content:center">
                <a asp-controller="Section" asp-action="ClassDescription" asp-route-id="@id"
                   class="btn" style="background-color:transparent" role="button">
                    <span class="badge bg-gradient text-white .rounded-lg mb-xxl-2" style="background-color:darkslategray; 
                                border-color:antiquewhite; border-width: 10px; border-style:double; max-height:200px;width:400px">
                        <tr>
                            <td>
                                <h6>Get Class Details</h6>
                            </td>
                        </tr>
                        <td>
                </a>
                @if (maxStudentsInClass <= enrollmentCount)
                {
                    <span class="badge bg-gradient text-white .rounded-lg mb-xxl-2" style="background-color:crimson;
                                border-color:antiquewhite; border-width: 10px; border-style:double; max-height:200px;width:400px;  ">
                        <tr>
     
                            <td>
                                <h6>Class Full</h6>

                            </td>

                        </tr>

                    </span>

                }
                @if (enrollmentCount < maxStudentsInClass)
                {
                    <a asp-controller="Section" asp-action="ListStudentsAdd" asp-route-id="@id"
                   class="btn" style="background-color:transparent" role="button">
                        <span class="badge bg-gradient text-white  .rounded-lg mb-xxl-2" style="background-color:darkslategray; 
                                border-color:antiquewhite; border-width: 10px; border-style:double; max-height:200px; width:400px ">
                            <tr>
                                <th width="80%">
                                <td>
                                    <h6>Add Student to Course</h6>
                                </td>

                            </tr>
                            <td>
                            </td>
                        </span>
                    </a>
                }
                @if (enrollmentCount != 0)
                {
                    <a asp-controller="Section" asp-action="ListStudentsRemove" asp-route-id="@id" asp-route-classtime="@classtime"
                   class="btn" style="background-color:transparent" role="button">
                        <span class="badge bg-gradient text-white  .rounded-lg mb-xxl-2" style="background-color:darkslategray;
                                border-color:antiquewhite; border-width: 10px; border-style:double; max-height:200px; width:400px ">
                            <tr>
                                <th width="80%">
                                <td>
                                    <h6>Remove Student from Course</h6>
                                </td>

                            </tr>
                            <td>
                            </td>
                        </span>
                    </a>
                }
                @if (maxStudentsInClass == 0)
                {
                    <span class="badge bg-gradient text-white .rounded-lg mb-xxl-2" style="background-color:crimson;
                                border-color:antiquewhite; border-width: 10px; border-style:double; max-height:200px;width:400px;  ">
                        <tr>
     
                            <td>
                                <h6>No Students to Remove</h6>

                            </td>

                        </tr>

                    </span>

                }
             </>
    </div>
            
            </div>
   
    
 </div>
</body>
</html>