@model IEnumerable<Enrollment>
@{
    ViewData["Title"] = "EnrollmentID";
    ViewData["Title"] = "ClassTime";
    ViewData["Title"] = "FirstName";
}
@{
    var enrollmentCount = 0;
    var maxStudentsInClass = 0;
    var holdClassID = 0;
    var holdClasstimeID = 0;

}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SMART System</title>
    <link href="/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
</head>

<body>
    <div class="row">
        <div class="col">
            <h6 class="bg-opacity-50 border-warning p-2 border-top border-bottom">Students in Class (Click for Details)</h6>
            <div class="list-group">
                @foreach (var obj in Model)
            {
                    <a asp-controller="Student" asp-action="Info" asp-route-id="@obj.Student.StudentID" 
                    class="list-group-item bg-gradient bg-opacity-50 bg-warning list-group-item-action px-3 border-dark">
                         <td>
                    <h5>
                     Enrollment ID: @obj.EnrollmentID
                    </h5>
                     <h5> Student ID: @obj.Student.StudentID
                     </h5>
                     <h5>
                     Name: @obj.Student.ApplicationNameFirst @obj.Student.ApplicationNameLast
            </h5>
                            
        </td>
                    </a>
                    maxStudentsInClass = @obj.Class.Studentcount;

                    enrollmentCount++;
                    holdClassID = obj.ClassID;
                    holdClasstimeID = obj.Class.ClassTimeID;
                }
            </div>
           
            </div>
        <div class="col">
            <h6 class="bg-opacity-50 border-warning p-2 border-top border-bottom"> Enrolled Count: @enrollmentCount/@maxStudentsInClass</h6>
            <div class="list-group" style="align-content:center">
                <a asp-controller="Section" asp-action="ClassDescription" asp-route-id="@holdClassID"
                   class="btn" style="background-color:transparent" role="button">
                    <span class="badge bg-gradient text-white .rounded-lg mb-xxl-2" style="background-color:darkslategray; 
                                border-color:antiquewhite; border-width: 10px; border-style:double">
                        <tr>

                            <td>
                                <h3>Get Class Details</h3>
                            </td>
                        </tr>
                        <td>
                </a>
                @if (maxStudentsInClass <= enrollmentCount)
                {
                    <span class="badge bg-gradient text-white .rounded-lg mb-xxl-2" style="background-color:darkslategray;
                                border-color:antiquewhite; border-width: 10px; border-style:double">
                        <tr>
                            <th width="80%">
                            <td>
                                <h3>Class Full</h3>

                            </td>

                        </tr>
                        <td>
                        </td>
                    </span>

                }
                @if (enrollmentCount < maxStudentsInClass)
                {
                    <a asp-controller="Section" asp-action="ListStudentsAdd" asp-route-id="@holdClassID" 
                   class="btn" style="background-color:transparent" role="button">
                        <span class="badge bg-gradient text-white  .rounded-lg mb-xxl-2" style="background-color:darkslategray; 
                                border-color:antiquewhite; border-width: 10px; border-style:double;">
                            <tr>
                                <th width="80%">
                                <td>
                                    <h3>Add Student to Course</h3>
                                </td>

                            </tr>
                            <td>
                            </td>
                        </span>
                    </a>
                }
             </>
    </div>
            
            </div>
   
    
 </div>
</body>
</html>